@import '../../styles/variaveis';

.container {
  //border: 2px solid $colorTribCard;
  width: fit-content;
  height: fit-content;

  box-shadow:4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.25);
  //background-color: $colorTribFundo2;
  
  border-radius: 8px;
  display: flex;
 flex-direction: column;
 margin: 8px;
}
