@import '../../../styles/variaveis';


//Fazer um Componente Container
.container {
  border: 2px solid;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  //background-color: $colorTribCard;
  margin: 20px;
  border-radius: 8px;
  display: flex;
}

.containerGrafico {
  display: flex;
}

.containerGraficoCircular {
  
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 18px;

  
}
.containerBlocoGrafico{

}
.containerAll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}