@import '../../../styles/variaveis';


//Fazer um Componente Container
.container {
  width: fit-content;
  height: fit-content;
  //background-color: $colorTribCard;
  display: flex;
  border: 5px solid;
}

.containerGrafico {
  display: flex;
}

.containerGraficoCircular {
  
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 18px;

  
}
.containerBlocoGrafico{

}
.containerAll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.containerGraficosLinhaeBarra{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerFaturamento{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}