@import '../../../styles/variaveis';


.container{
  width: 100vw;
  height: auto;
  background-color: $colorTribFundo;
} 

.titulo{
  font-family: $fonte-normal;
  font-size: 8vw;
  background-color: $colorTribCard;
  color: $colorTribBotao;
  box-sizing: border-box;
  padding:0px ;
  padding: 20px 10px;
  text-align: center;
 
 
}
.destaque{
  color:$colorTribDestaque; 
  font-family: $fonte-bold;
  z-index: 0;
  
}
.destaque:hover{
  color: $colorTribBotao;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
  
}

.secaoContainer{
  
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  padding: 20px;
}

.subtitulo{
  font-size: 4vw;
  font-family: $fonte-normal;
  color: $colorTribBotao;
  margin-bottom: 20px;
}
.paragrafo{
  font-family: $fonte-normal;
  font-size: 32px;
  padding: 10px;
  line-height: 45px;
}

.linkBotao{
  background-color: $colorTribBotao;
  border-radius: 8px;
  padding: 1px 6px;
  margin: 0px 5px;
  text-decoration: none;
  color: $colorTribCard;
  font-family: $fonte-bold;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover{
    color: $colorTribDestaque; 
    background-color: $colorTribDestaqueFade;
    border-radius: 8px;
    padding: 1px 6px;
    margin: 0px 5px;
box-shadow:  inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.tituloLista{
  color: $colorTribBotao;
  margin-bottom: 20px;
  font-size: 3vw;
}
.listaContainer{
  margin-left: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
 
}
.listaItem{
  font-size: 32px;
  font-family: $fonte-normal;
 // color: $colorTribDestaque;
 list-style-type: none;
  display: flex;
  align-items: center;
}
.iconeDot{
  color: $colorTribDestaque;
  margin-right: 10px;
  width: 20px;
}

.listaItem .iconeDot:hover{
  color: $colorTribBotao;
  width: 25px;
}

.listaItem:hover{
  color: $colorTribBotao;
}