
@import '../../styles/variaveis';

$colorTribFundo: rgba(246,246,247,1);
$colorTribCard: rgba(255,255,255,1);
$colorTribCampoFundo: rgba(228,228,228,1);
$colorTribBotao: rgba(25,194,125,1);
$colorTribDestaque:rgba(151,71,255,1);

*{
  box-sizing: border-box;
}

.logoMarca{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarContainer{
  display: flex;
  width: 100vw;
  height: 50px;
  background-color: rgb(255, 255, 255);

  justify-content: space-between;
  overflow: hidden;
}
.links{
  display: flex;
  justify-content: center;
  align-items: center;

}