@import '../../../../styles/variaveis';

.container{
  position: relative;
  width: fit-content;
  max-height:fit-content ;
  min-height: 50px;
 

}

.botao{
  left: 15px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px $colorTribCard;
  position: absolute;
  z-index: 2;
  color: $colorTribBotao ;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.25);
  backdrop-filter: blur(2px);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  
}

.botao:hover{
color:$colorTribDestaque;
background-color: $colorTribDestaqueFade;
border: solid 2px $colorTribDestaqueFade;
}

.icone{
  width: 27px;
  height: 27px;
}