@import '../../../styles/variaveis';





.container{
  display: flex;
  flex-direction: column;
  
  
}
.label{
  font-family: $fonte-normal;
  margin-left: 9px;
}
.input{
  width: 140px;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: $colorTribCampoFundo;

  box-sizing: border-box;
}
.input:hover{
  border: solid 2px $colorTribBotao;
}
.input:focus{
  outline: none;
  border: solid 3px $colorTribDestaque
}